.App {
  text-align: center;
}

.body {
  background-image: url('images/background.png');
  display: flex;
  flex-direction: column;
}

.header {
  color: aliceblue;
  font-size: 25px;
  text-align: center;
}

.solar-system {
  color: aliceblue;
  display: flex;
  flex-direction: column;
}

.title {
  border-radius: 10px;
  margin: auto;
  text-align: center;
  width: 80%;
}

.planets {
  display: flex;
}

.planet-card p {
  text-align: center;
}

.planet-card img {
  width: 122px;
}

.missions {
  color: white;
  display: flex;
  flex-direction: column;
}

.missions-title {
  border-radius: 10px;
  margin: auto;
  text-align: center;
  width: 80%;
}

.missions-title-info {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  width: 80%;
}

.mission-card {
  border: 1px solid white;
  border-radius: 8px;
  margin: 2px;
}

.mission-card-name {
  border: 1px solid white;
  border-radius: 8px;
  text-align: center;
}
